.divChild {
  height: 100px;
  width: 100px;
}

#root {
  height: 100vh;
  bottom: 0;
  top: 0;
}

.name {
  display: flex;
  position: fixed;
  top: 50vh;
  left: 35vw;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  z-index: 1;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
