.divChild {
  border: 1px solid white;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#root {
  height: 100vh;
  bottom: 0;
  top: 0;
}

.name {
  position: fixed;
  width: 100vw;
  text-align: center;
  top: 20vh;
  color: red;
  font-size: 100px;
  z-index: 2;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
